    <head><%- include("./partials/head") %>
    <link href="/style.css" rel="stylesheet">
    <title>Detalhes Produto</title></head>
 
<body>
    <header>
        <%- include("./partials/header") %>
    </header> 
<main>
  
    <article  class="detalhes-do-Produto">
        <div>
        <h1 class="Descrição">Descrição do Produto</h1>
    </div>
        <div class="produto">
            <div>
            <img class="foto-produto" src="xbox.jpg" alt="Foto do produto">
        </div>
            <div class="infos-produto">
               <div class="nome-preço">     
            <h2 class="nomeproduto"><%= products[i].nome %></h2> 
            <h3 class="preço"><%= products[i].preco %></h3>
            <h5 class="textoproduto"><%= products[i].description %></h5> 
            </div>
            
            </div>
            </div>
    
    </article>
   
     <div class="video-produto">
<img class="video" src="videoXbox.png" alt="vídeo xbox">
  <img class="play" src="play.png" alt="Assista ao vídeo">
</div>
<div class="menu">
  <h5 class="legenda-video">Os verdadeiros jogos em 4K começam aqui
    Experimente uma jogabilidade em 4K imersiva, onde a ação ganha vida com frame buffers de 2160p e 6 Teraflops de potência de processamento gráfico.</h5>

  </div>

  <h2 class="jogos-sugeridos">Aproveite para jogar</h2>
         <div class="opcoesjogos">

            <div class="opcao-1">
                <a href="www.google.com"><img src="dead.png" alt="Dead by day light"></a>
             </div>
     
             <div class="opcao-2">
            <a href="www.google.com"><img src="./marvel.png" alt="Read Dead Redemption"></a>
             </div>
             <div class="opcao-3">
                 <a href="www.google.com"><img src="farcry.png" alt="Far cry 6"></a>
            </div>
                  


       </div>
    </div>


    </div>
    <div></div> 

</main>

<footer>
    <%- include("./partials/footer") %>
</footer> 

</body>
