<head><%- include("./partials/head") %>
<link href="/style.css" rel="stylesheet">
<title>GAMEZONE</title>
</head>
<body>
  <header>
    <%- include("./partials/header") %>
  </header> 
  <main>
    <div class="banner-principal">
      <img class=banner src="/banner.png" alt="Imagem do produto 1">
     <div class="botoes">
      <span id="seta-esquerda"><img src="Vector-1.png" alt="seta esquerda"></span>
      <span id="botao-esquerda"><img src="Ellipse 1.png" alt="botão esquerda"></span>
    
      <span id="seta-direita"><img src="Vector.png" alt="seta direita"></span>
      <span id="botao-direita"><img src="Ellipse 2.png" alt="botão direita"></span>
  </div>
  </div>
    <h1 class="titulo">Promoção do Dia</h1>

    <% for(let i=0; i <= 5; i ++) {%>
    <section class="produto-item">
  
       <img class="produto-item-img" src="<%= products[i].img %>"> 
      <p class="produto-item-nome"><b> <%= products[i].nome %></b></p>
        <p class="produto-item-preco"><b>R$<%= products[i].preco %> </b></p>
      <p>Frete Grátis</p>
      <a href="http://localhost:3000/carrinho"><button src= "mockupjogo.jpg">COMPRAR</button> </a>
    
    </section>
    <%} %>

    <h2></h>
    <section class="flex2">
      <div class="digital">
        <img src="anuncio.jpg">
        </div>
    </section>

  
    <br>

  </body>
</main>
  <footer>
    <%- include("./partials/footer") %>
</footer> 
</html>