<head><%- include("./partials/head") %>
<link href="/style.css" rel="stylesheet">
<title>GAMEZONE</title>
</head>
<body>
  <header>
    <%- include("./partials/header") %>
  </header> 
  <main>
    <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel" data-bs-theme="light">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <svg class="bd-placeholder-img"  width="100%" height="100%" xmlns="https://github.com/MartaAdomaitis/ProjetoIntegrador/blob/b409099de992d70efb21d130c17e57da980e97ee/public/img/Controle%20(1).jpg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
         
          <div class="container">
            <div class="carousel-caption text-start">
              <h1>A casa do seu game!</h1>
              <p class="opacity-75">Preparamos um seleção com os melhores jogos</p>
              <p><a class="btn btn-lg btn-primary" href="#">Vem conferir</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
          <div class="container">
            <div class="carousel-caption">
              <h1>Promoções da semana</h1>
              <p>Jogue o que está bombando pelo menor preço</p>
              <p><a class="btn btn-lg btn-primary" href="#">Comprar</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
          <div class="container">
            <div class="carousel-caption text-end">
              <h1>Ainda não faz parte do nosso clube de prêmios</h1>
              <p>Ganhe prêmios e descontos exclusivos</p>
              <p><a class="btn btn-lg btn-primary" href="#">Participar</a></p>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Acesse!</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Acesse!</span>
      </button>
    </div>
  </div>
    <h1 class="titulo">Promoção do Dia</h1>

    <% for(let i=0; i <= 5; i ++) {%>
    <section class="produto-item">
  
       <img class="produto-item-img" src="mockupjogo.jpg"> 
      <p class="produto-item-nome"><b> <%= products[i].nome %></b></p>
        <p class="produto-item-preco"><b>R$<%= products[i].preco %> </b></p>
      <p>Frete Grátis</p>
      <a href="http://localhost:3000/carrinho"><button action="/cart" src= "mockupjogo.jpg" name="adicionar" method="POST">COMPRAR</button> </a>
    
    </section>
    <%} %>

    <h2></h>
    <section class="flex2">
      <div class="digital">
        <img src="anuncio.jpg">
        </div>
    </section>

  
    <br>

  </body>
</main>
  <footer>
    <%- include("./partials/footer") %>
</footer> 
</html>